

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}


#container-todo-list {
    min-width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(67, 144, 182);
    overflow-y: hidden;
   
}


div#container-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0px;
    transition: width 0.4s ease;
    background-color: azure;
    padding-top: 20px;
}

.closed-details{
    text-align: end;
    margin-right: 30px;
    width: 100%;
    padding-bottom:30px;
}

#edit-todo {
    border: none;
    outline: none;
    padding:10px 20px 10px 20px ;
    font-size: 18px;
}

.box-edit-todo{
    border: 2px solid rgba(159, 115, 115, 0.305);
}



#todo {
    width: 75%;
    display: flex;
    flex-direction: column;
    transition: width 0.4s ease;
    padding: 10px;
}

.box-todo{
    display: flex;
    align-items: center;
}

.box-todo > i {
    margin: 0px 10px;
    font-size: 24px;
   
    margin-right: 15px;
    color: green;
    animation-name: example;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
.box-todo > i:hover {
    color: #daa520 ; 
}

@keyframes example {
    from {font-size: 20px}
    to {font-size: 40px}
  }


.todo-width{
    width: 100% !important;
}

#todo-list {
    height: 90vh;
    overflow-y: auto;
}

#todo-list::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
    background:#d1c9c9; 
    border-radius: 10px;
}

.todo > p {
    height: 100%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}


.todo{
    width: 100%;
    height: 2.7rem;
    background-color: aliceblue;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
    cursor: pointer;
}

#box-add-todo{
    width: 100%;
    height: 4rem;
}
#some-form{
    display: flex;
    background-color: white;
}

#some-form > button{
    background-color: white;
    border: none;
    padding: 0px 10px;
} 
#some-form > button:hover{
    background-color: green;
} 

#input-add-todo{
    width: 100%;
    height: 2.5em;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: medium;
    padding: .3em;
}

.box-concluir{
    margin-top: 10px;
}

.completed {
    position: relative;
    text-decoration: line-through #fff;
    background-color: rgba(11, 77, 94, 0.74);
    color: black;
    text-decoration: line-through;
    width: 100%;
    height: 2.7rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
    cursor: pointer;
}

#container-config{
    min-width: 200px;
    background-color: #fff;
}

.box-user{
    height: 30%;
}

.box-user-img{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 20px auto;
    border-radius: 50%;
    background-image:url("../user.jpg");
    background-size: contain;
}
.box-user-name{
    text-align: center;

}

#container-config-back{
    position: relative;
    overflow: visible;
}

.box-background-suspense{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0px;
    z-index: 100;
    background-color: red;
}